---

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<article>
	<div>
		<header>
			{heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
			<p>Written by {author} on <time>{publishDate}</time></p>
			<h1 class="title">{title}</h1>
			<p>tags here </p>
		</header>
		<main>
			<slot />
		</main>
	</div>
</article>

<style>
</style>
