---

export interface Props {
	title: string;
	subtitle?: string;
	author?: string;
	tags?: string[];
	publishDate?: string;
	heroImage?: string;
	alt?: string;
}

const { title, subtitle, author, tags, publishDate, heroImage, alt } = Astro.props;

const options = { year: 'numeric', month: 'short', day: 'numeric' };
const readableDate = publishDate && new Intl.DateTimeFormat('en-US', options).format(new Date(publishDate));
---

<article>
	<div>
		<header>
			{
				heroImage && alt &&
				<img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />
			}
			{
				readableDate &&
				<div class="post-details">
					Written 
					{
						author &&
						<> by <a href="/me">{author}</a> </>
					}
					on <time>{readableDate}</time>
				</div>
			}
			<h1>{title}</h1>
			{
				subtitle &&
				<p class="description">{subtitle}</p>
			}
			{
				tags && 
				<div class="post-meta">
					<div class="tags">
						{
							tags.map(t => (<a href={"/tags/" + t} >{t}</a>))
						}
					</div>
				</div>
			}
		</header>
		<section>
			<slot />
		</section>
	</div>
</article>

<style>
	section, header{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
    @media screen and (max-width: 800px) {
		section, header{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		header{
			padding-top: 1.5rem;
		}
	}
</style>
