---
//import web fonts we want to preload
import interFontRegular from '../assets/fonts/inter-v11-latin-regular.woff2'
import interFont600 from '../assets/fonts/inter-v11-latin-600.woff2'

export interface Props {
	title: string;
	description: string;
	permalink: string;
	isBlog: string;
}
let { title="", description, permalink, isBlog=false } = Astro.props;

//append " | Alberto Ventafridda" To pages that are not blogposts.
if(!isBlog){
	if(title)
		title += " | "
	title += "Alberto Ventafridda"
}

const type = isBlog ? "article" : "website"
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

<link rel="canonical" href={permalink} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<!-- Fonts -->
<link rel="preload" href={interFontRegular} as="font" type="font/woff2" >
<link rel="preload" href={interFont600} as="font" type="font/woff2" >
	
<script data-goatcounter="https://analytics.halb.it/count"
        async src="//analytics.halb.it/count.js"></script>

