---
import Headers from './Headers.astro';
import BlogHeader from './BlogHeader.astro';
import '../styles/style.css';
import '../styles/light-theme.css';
import '../styles/dark-theme.css';

export interface Props {
	title: string;
	description: string;
	permalink: string;
    activePage?: string;
    lang?: string;
}
const { title, description, permalink, activePage, lang="en" } = Astro.props;

//theme logic is defined in BlogHeader, with the switch js handler
---
<html lang={lang}>
	<head>
		<Headers {title} {description} {permalink} />
	</head>

	<body class="light">
        <script is:inline>
            //set the page theme based on what's in localstorage
            //the position of this script is important. it must be the first thing in the
            //body to avoid a flash of default theme on page load
            let isLight = window.localStorage.getItem("theme") == "light"
            if(isLight)
                document.body.classList.add("light")
            else
                document.body.classList.remove("light")
        </script>
		<BlogHeader {activePage} />
		<main>
            <slot/>
        </main>
    </body>
</html>


<style>
    main {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--page-width);
        padding: 2rem;
    }
    main.large {
        max-width: var(--page-width-large);
    }
    @media screen and (max-width: 800px) {
        main{
            padding: 1rem;
        }
    }
</style>